# Virtual environment
.venv/

# Local data
data/raw/
data/sample/

__pycache__/
*.pyc

models

data/raw/
data/processed/*
!data/processed/nutrition/
!data/processed/nutrition/nutrition_reference.csv
data/sample/