# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Local datasets and generated data
data/raw/*
!data/raw/FoodSeg103/
data/raw/FoodSeg103/*
!data/raw/FoodSeg103/id2label.json
data/processed/*
!data/processed/nutrition/
!data/processed/nutrition/nutrition_reference.csv
data/splits/
# Models / trained artifacts
models/

# Local sample data
data/sample/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db